{{template "common/header" .}}



<div class="container-fluid p-t-15" id="list">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">


                <div class="card-toolbar d-flex flex-column flex-md-row">
                    <div class="toolbar-btn-action">
                        <button class="btn btn-primary m-r-5"  data-toggle="modal" data-target="#addModal">新增</button>
                    </div>
                    <div class="toolbar-btn-action">
                        <button class="btn btn-info m-r-5"  data-toggle="modal" data-target="#editModal">编辑</button>
                    </div>
                </div>


<!--                数据列表-->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">

                            <!-- 表头字段-->
                            <thead>
                            <tr style="text-align: center; ">
                                <th>编号</th>
                                <th>关键词</th>
                                <th>回复类型</th>
                                <th>回复内容</th>
                                <th>创建日期</th>
                                <th>更新日期</th>
                                <th >操作</th>
                            </tr>
                            </thead>
                            <!-- 表头字段 end-->

                            <tbody class="tbody">
                            <tr>
                                <td>5</td>
                                <td>admin2</td>
                                <td>ddd</td>
                                <td>13471687661</td>
                                <td>2022-05-25 16:30:13</td>
                                <td>2022-05-25 16:30:13</td>
<!--                                <td style="text-align: center; "><span class="badge badge-success">启用</span></td>-->
<!--                                <td style="text-align: center; "><span class="badge btn-secondary">离线</span></td>-->
                                <td style="text-align: center; ">
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-default btn-option" href="#!" title="" data-id="ly0Q6Yxwvrm8" data-is-used="1" data-toggle="tooltip" data-original-title="禁用">禁用</a>
                                        <a class="btn btn-xs btn-default btn-resetPassword" href="#!" title="" data-id="ly0Q6Yxwvrm8" data-toggle="tooltip" data-original-title="重置密码">重置密码</a>
                                        <a class="btn btn-xs btn-default btn-menu" href="#!" title="" data-id="ly0Q6Yxwvrm8" data-toggle="tooltip" data-original-title="菜单授权">菜单授权</a>
                                        <a class="btn btn-xs btn-default btn-offline" href="#!" title="" data-id="ly0Q6Yxwvrm8" data-toggle="tooltip" data-original-title="下线">下线</a>
                                        <a class="btn btn-xs btn-default btn-confirm" href="#!" title="" data-id="ly0Q6Yxwvrm8" data-toggle="tooltip" data-original-title="删除">删除</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>admin</td>
                                <td>管理员</td>
                                <td>13888888888</td>
                                <td>2022-05-23 10:37:07</td>
                                <td>2022-05-23 10:37:07</td>
<!--                                <td style="text-align: center; "><span class="badge badge-success">启用</span></td>-->
<!--                                <td style="text-align: center; "><span class="badge btn-primary">在线</span></td>-->
                                <td style="text-align: center; ">
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-default btn-option" href="#!" title="" data-id="zjON6am6eMdR" data-is-used="1" data-toggle="tooltip" data-original-title="禁用">禁用</a>
                                        <a class="btn btn-xs btn-default btn-resetPassword" href="#!" title="" data-id="zjON6am6eMdR" data-toggle="tooltip" data-original-title="重置密码">重置密码</a>
                                        <a class="btn btn-xs btn-default btn-menu" href="#!" title="" data-id="zjON6am6eMdR" data-toggle="tooltip" data-original-title="菜单授权">菜单授权</a>
                                        <a class="btn btn-xs btn-default btn-offline" href="#!" title="" data-id="zjON6am6eMdR" data-toggle="tooltip" data-original-title="下线">下线</a>
                                        <a class="btn btn-xs btn-default btn-confirm" href="#!" title="" data-id="zjON6am6eMdR" data-toggle="tooltip" data-original-title="删除">删除</a>
                                    </div>
                                </td>
                            </tr></tbody>
                        </table>
                    </div>
                    <ul class="pagination">
                        <ul class="pagination" id="paginationDiv"><li class="page-item"><a href="javascript:;" class="page-link pagePrev">上一页</a></li><li class="page-item"><a class="page-link" href="javascript:;" data-page="1">首页</a></li><li class="page-item active"><span class="page-link pageActive">1</span></li><li class="page-item"><a class="page-link" href="javascript:;" data-page="1">末页</a></li><li class="page-item"><a href="javascript:;" class="page-link pageNext">下一页</a></li></ul>
                    </ul>
                </div>
<!--                数据列表 end-->

            </div>
        </div>

    </div>
</div>


{{template "common/footer_js" .}}

{{template "keywords/pop_add" .}}
{{template "keywords/pop_edit" .}}

<script type="text/javascript">
    var vm = new Vue({
        el: '#list',
        delimiters:['{$','$}'],
        data: {
            site: "菜鸟教程",
            url: "www.runoob.com",
            alexa: "10000"
        },
        methods: {
            details: function() {
                return  this.site + " - 学的不仅是技术，更是梦想！";
            }
        }
    })
</script>