{{define "keywords/pop_add"}}
<!-- 模态框（Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel" style="text-align: center">添加</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid p-t-15">
                    <!--这里写添加对应的表单-->
                    <div class="form-group">
                        <label class="form-item-label">触发关键词:</label>
                        <input type="text" class="form-control" maxlength="10" id="keyword" placeholder="请输入触发关键词">
                    </div>
                    {{.text }}
                    {{.radio }}
                    {{.textarea }}
                    <div class="form-group">
                        <label class="form-item-label">匹配类型:</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="MathType" id="optionsMathType1" value="full" checked> 全匹配
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="MathType" id="optionsMathType2"  value="pre"> 前缀
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="MathType" id="optionsMathType3"  value="suf"> 后缀
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="MathType" id="optionsMathType4"  value="in"> 后缀
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-item-label">回复类型:</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="ReplyType" id="optionsReplyType1" value="text" checked> 文本
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ReplyType" id="optionsReplyType2"  value="ark23"> ark23
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ReplyType" id="optionsReplyType3"  value="ark34"> ark34
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ReplyType" id="optionsReplyType4"  value="embed"> embed
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-item-label">回复内容:</label>
                        <textarea type="text" class="form-control" maxlength="10" id="reply_json" placeholder="请输入回复内容"> </textarea>
                    </div>

                    <div class="form-group">
                        <label class="form-item-label">备注:</label>
                        <input type="text" class="form-control" maxlength="10" id="remark" placeholder="请输入备注">
                    </div>
                    <!--这里写添加对应的表单 end-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnOk" class="btn btn-primary" @click="details">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#addModal',
        delimiters:['{$','$}'],
        data: {
            site: "菜鸟教程11122",
            url: "www.runoob.com",
            alexa: "10000"
        },
        methods: {
            details: function() {
                console.log(this.site + " - 学的不仅是技术，更是梦想！");
                AjaxForm(
                    "POST",
                    "/api/admin",
                    {"test":1},
                    function () {
                        console.log("1");
                    },
                    function (data) {
                        console.log("2",data);
                    },
                    function (response) {
                        console.log("3",response);
                    }
                );
            }
        }
    })
</script>

{{end}}